@use '../abstracts/mixins' as *;

.food-list__cards {
  display: flex;
  padding: 101px 0;
  gap: 31px;
  flex-wrap: wrap;

  @include tablet {
    padding: 50px 0;
  }

  @include mobile {
    padding: 30px 0;
  }

  .card {
    padding: 35px 11px;
    background-color: #312F30;
    border-radius: 10px;
    overflow: hidden;
    object-fit: contain;
    flex: 1 1 calc(25% - 31px);
    text-align: center;
    transition: transform 0.3s linear;

    @include tablet {
      flex: 1 1 calc(50% - 31px);
    }

    @include mobile {
      flex: 1 1 calc(100% - 31px);
    }

    &__img {
      margin-top: -35px;
      margin-bottom: 27px;
      margin-left: -11px;

      img {
        width: calc(100% + 11px);
      }
    }

    &__title {
      margin-bottom: 13px;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }

    &__describe {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.7;
    }

    &:hover {
      transform: scale(1.2);
      cursor: pointer;

      @include tablet {
        transform: scale(1.05);
      }
    }
  }
}