@use '../abstracts/mixins' as *;

.header {
  background: url(img/header/burger_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;

  @include tablet {
    position: relative;
  }

  @include tablet {
     .fast-food {
      position: relative;
      left: -20px;
    }
  }

  nav {
    display: flex;
    padding: 0 10px;

    @include tablet {
      position: absolute;
      top: 90px;
      left: 10px;
      max-width: 65%;
      padding: 0;
    }

    @include mobile {
      max-width: 90%;
    }
  }

  &__items {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7;
    text-transform: uppercase;

    @include tablet {
      gap: 20px;
      font-size: 12px;
      line-height: 5px;
    }

    @include mobile {
      gap: 15px;
      font-size: 10px;
    }

    & .active {
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;

      @include tablet {
        font-size: 13px;
        line-height: 5px;
      }

      @include mobile {
        font-size: 11px;
      }
    }

    &-item {
      transition: transform 0.1s linear;
    }

    &-item:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

.hero__section {
  display: flex;
  flex-direction: column;
  padding-top: 185px;
  padding-bottom: 242px;
  animation: headerRunText 1s linear;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 121px;
  }

  @include mobile {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  &_text {
    max-width: 50%;
    color: #FFFFFF;

    @include tablet {
      max-width: 60%;
    }

    &-suptitle {
      margin-bottom: 7px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;
    }

    @include mobile {
      font-size: 10px;
    }

    & h1 {
      margin-bottom: 37px;
      font-weight: 500;
      font-size: 57.33px;
      line-height: 67px;

      @include tablet {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
      }

      @include mobile {
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 15px;
      }
    }

    &-describe {
      margin-bottom: 42px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      opacity: 0.7;

      @include mobile {
        margin-bottom: 21px;
        font-size: 14px;
      }
    }
  }
}