@use '../abstracts/mixins' as *;

.order {
  background-color: #312F30;

  &__container {
    display: flex;
    padding: 43px 30px;
    gap: 127px;
    animation: orderText 2s linear;

    @include tablet {
      padding: 35px 15px;
      gap: 20px;
    }

    @include mobile {
      padding: 0 10px 30px;
      flex-direction: column;
    }
  }

  &__burger {
    max-width: max-content;

    img {
      width: 100%;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 371px;

    @include mobile {
      text-align: center;
      align-items: center;
    }

    & h2 {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 44.2px;
      line-height: 52px;

      @include tablet {
        margin-bottom: 12px;
        font-size: 25px;
        line-height: 20px;
      }
    }

    & p {
      margin-bottom: 13px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.7;

      @include tablet {
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 15px;
      }
    }

    .price {
      display: flex;
      align-items: center;
      gap: 6px;
      color: #F6762C;
      margin-bottom: 13px;
      font-weight: 500;

      @include tablet {
        margin-bottom: 3px;
      }

      &-primary {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.1em;

        @include tablet {
          font-size: 15px;
          line-height: 20px;
        }
      }

      &-secondary {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-decoration-line: line-through;
        opacity: 0.5;

        @include tablet {
          font-size: 12px;
          line-height: 17px;
        }
      }
    }
  }
}

@include tablet {
  .order__text .btn {
    padding: 10px 18px;
    font-size: 10px;
    line-height: 12px;
  }
}